* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

/* nav bar design start */
nav {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 70px;
    flex-wrap: wrap;
}
.menus ul {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    list-style: none;

}
.menus a {
    text-decoration: none;
    color: #575757FF;
}
.menus a:hover {
    background-color: rgb(212, 210, 210);
    padding: 7px;
}
.common-btn {
    width: 200px;
    height: 50px;

    border: none;
    border-radius: 10px;
    background-color: #1D4ED8;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.common-btn:hover {
    background: #143ca8;
}

/* navbar design end */

/* hero section start */
.hero-parent{
    background-image: url("./assets/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    color: white;

}

.hero-text{
    text-align: center;
    /* max-width: 960px; */
    margin: auto;
    line-height: 1.2;    
}
.hero-text h1{
    font-weight: 800;
    font-size: 80px;
    
}
.hero-text p{
    color:  #ffffffE5;
    max-width: 830px;
    margin: 20px auto;
    font-size: 22px;
    margin-bottom: 32%;
}

/* hero-section end */

/* Speaker-Section Start */

.speaker-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    
}

.speaker-details{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
}
.common-card{
    line-height: 1.8;
    border-radius: 15px;
    border: 1px solid rgb(226, 224, 224);
    overflow: hidden;   
}
.common-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.card-content{
    padding:20px;
}

.common-card h5{
    color:#2563ebFF ;
    font-weight:600;  
}
.common-card h4{
    color: #0d1b2aFF;
    font-weight: 700;
}
.common-card p{
    color: #575757FF;
    font-weight: 400;
}

/* Speaker section end */

/* price-card-section start */

.price-card-section{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-cards{
    display: flex;
    gap: 25px;
    margin-top: 30px;
}
.common-price-card{
    width: 320px;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 20px;
}

.pro-card{
    background-color: #0d1b2aFF;
    color: white;
}

.price-cards ul li{
    list-style-position: inside;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
    
}
.price-cards ul li::marker {
    color: #60a5fa;   /* Bullet color */
}


.outline-btn {
    padding: 12px 50px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    color:  #2563ebFF;
    
}

.outline-btn.black-color{
    color: #0d1b2aFF;
}

.outline-btn:hover {
    background: #e6eaf5;
}


