* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

/* nav bar design start */
nav {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 70px;
    flex-wrap: wrap;
}

nav .logo{
    cursor: pointer;
}
nav .logo:hover{
    /* filter: brightness(0.8); */
    background-color: #f3f9ff;
}

.menus ul {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    list-style: none;

}

.menus a {
    text-decoration: none;
    color: #575757FF;
}

.menus a:hover {
    background-color: rgb(212, 210, 210);
    padding: 7px;
}

.common-btn {
    width: 200px;
    height: 50px;

    border: none;
    border-radius: 10px;
    background-color: #1D4ED8;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.common-btn:hover {
    background: #143ca8;
}

/* navbar design end */



/* hero section start */
.hero-parent {
    background-image: url("./assets/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    color: white;

}

.hero-text {
    text-align: center;
    /* max-width: 960px; */
    margin: auto;
    line-height: 1.2;
}

.hero-text h1 {
    font-weight: 800;
    font-size: 80px;

}

.hero-text p {
    color: #ffffffE5;
    max-width: 830px;
    margin: 20px auto;
    font-size: 22px;
    margin-bottom: 32%;
}

/* hero-section end */



/* Speakers-Section Start */

.speaker-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;

}

.speaker-section h1 {
    font-size: 48px;
    font-weight: 700;
    color: #0d1b2aFF;
}

.speaker-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
}

.common-card {
    line-height: 1.8;
    border-radius: 15px;
    border: 1px solid rgb(226, 224, 224);
    overflow: hidden;
}
.common-card:hover{
    box-shadow: 10px 15px 25px rgba(23, 23, 23, 0.08);
}

.common-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.card-content {
    padding: 20px;
}

.common-card h5 {
    color: #2563ebFF;
    font-weight: 600;
}

.common-card h4 {
    color: #0d1b2aFF;
    font-weight: 700;
}

.common-card p {
    color: #575757FF;
    font-weight: 400;
}

/* Speakers section end */




/* price-card-section start */

.price-card-section {
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.secure-spot {
    line-height: 1.8;
    text-align: center;
    margin-bottom: 50px;
}

.secure-spot h1 {
    font-size: 48px;
    font-weight: 700;
    color: #0d1b2aFF;
}

.price-cards {
    display: flex;
    gap: 25px;
}

.common-price-card {
    width: 320px;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 20px;

}

.common-price-card:hover{
    box-shadow: 10px 15px 25px rgba(23, 23, 23, 0.08);
}

.common-price-card h5,
p {
    color: #888888FF;
}

.common-price-card hr {
    margin: 20px 0;
    opacity: 0.2;
}

.pro-card {
    background-color: #0d1b2aFF;
    color: white;
}

.pro-card h1 {
    color: white;
}

.pro-card h5 {
    color: #60a5fa;
}


.price-cards ul li {
    list-style-position: inside;
    font-size: 14px;
    font-weight: 400;
    line-height: 2;

}

.price-cards ul li::marker {
    color: #60a5fa;
    /* Bullet color */
}

.pro-card button {
    width: 100%;
    margin: 15px 0;
}

.outline-btn {
    width: 100%;
    padding: 12px 50px;
    border-radius: 10px;
    border: 1px solid #2563ebFF;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    color: #2563ebFF;
    margin: 15px 0;
    cursor: pointer;

}
.outline-btn:hover {
    background: #efefef;
}

.outline-btn.card-3 {
    color: rgb(32, 32, 32);
    border: 1px solid rgb(32, 32, 32);

}



/* price-card-section end */






/* relevant-section start */
.relevant-section{
    text-align: center;
    background: #f3f9ff;
    

    display: flex;
    flex-direction: column;
    align-items: center;

    width :90%;
    max-width:1000px;
    margin:auto;
}

.relevant-section>p{
    max-width:700px;
    margin-top:15px;
    font-size: 18px;
    
}
.relevant-section>h1{
    margin-top: 20px;
    font-size: 48px;
    font-weight: 700;
    color: #0d1b2aFF;

}

.feature-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    max-width:1100px;
    margin:50px auto; 
    /* align-items: stetch; */
}

.common-feature-card{  
    background-color: #ffffff;
    border: 1px solid #E5E7EB;
    border-radius: 10px;

    display:flex;
    flex-direction:column;

    padding: 25px;
    max-width:350px;    
    

    
}
.common-feature-card h3{
    margin:20px 0 12px;
    
}

.common-feature-card p{
    line-height:1.7;
}

.common-feature-card:hover{
    box-shadow: 0 10px 25px rgba(0,0,0,.08);
}


.icon{
    width:70px;
    height:70px;
    margin: 0 auto;

    display:flex;
    justify-content:center;
    align-items:center;

    border-radius:50%;
    background:#EFF6FF;
}

.icon i{
    font-size:32px;
    color:#2563EB;
}


/* relevant-section end */





/* footer-section start */
footer {
    /* background-color:rgb(32, 32, 32); */
    background: #0F172A;
    color: white;
    padding: 50px 0 10px;


}
footer img {
    width: 180px;
    cursor: pointer;
}
footer img:hover {
    filter: brightness(0.8);
}
.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;

    width: 90%;
    max-width: 1200px;
    margin: auto;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #2563eb;
}

.right-side {
    display: flex;
    gap: 20px;
}

footer .right-side i {
    font-size: 1.5rem;
    cursor: pointer;
    padding: 3px;
}

footer .right-side i:hover {
    background-color: #0b60e0;
}

footer hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, .15);
    margin: 30px 0;
}

footer p {
    color: #999;
    font-size: 16px;
    text-align: center;
}



/* footer-section end */