
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}



/* nav bar design start */
nav{
    background-color: rgb(238, 229, 229);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 70px;
    flex-wrap: wrap;
}


.menus ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
    
}

.menus a{
    text-decoration: none;
    color: #575757FF;
}

.menus a:hover{
    background-color:white;
    padding: 10px;
}

.common-btn{
    
    padding: 12px 24px;
    border-radius: 10px;
    border: none;
    background-color : #1D4ED8 ;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    color: rgb(255, 255, 255);
}
.common-btn:hover{
    background: #143ca8;
}

